<div class="side-bar-header">
 <div class="header-name">
  <%= link_to current_user.name , edit_user_path(current_user) %>
  <%# link_toのパスをログインしているユーザーの編集をする為edit_user_path(current_user)
  と指定している。current_user.nameはログインしているユーザ。
  ユーザー名をクリックするとusersコントローラーのeditアクションが実行され編集ページへ遷移します。 %>
 </div>
 <div class="create-room">
  <%= link_to "チャットを作成する", new_room_path %>
 </div>
</div>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
     <div class="room-name">
      <a href="#"><%= room.name%></a>
     </div>
    </div>
  <% end %>
</div>
 
